footer {
    height: fit-content;
}
.footer__DivSocialNav {
 max-width: 320px;
 height: 100px;
 
 div>a>img:hover {
    box-shadow: inset 5px 5px 30px rgb(255, 68, 0);
        border-radius: 20%;
 }
}
.footer__SocialNav__Cover {
    border: 1px solid orangered;
    height: 84px;
    position: relative;
    bottom: 92px;
    transition: 3s;
    background-color: rgba(0, 0, 0, 0.541);
    width: 324px;
    @media (max-width: 576px){
        display: none !important;
    }
}
.footer__SocialNav__CoverMove {
    transform: translateY(80px);
    transition: 5s;
}

.footer__DivMapAndData{
    height: fit-content;

}
.map {
    width: 145px; 
    height: 150px; 
    background-color: lightgray; 
    margin: 5px;
}
.data{
    width: 155px; 
    height: 150px; 
    margin: 5px; 
    padding: 5px;
    ul {
        color: orangered;
        font-family: 'Roboto Slab', serif;
        
        li {
        font-size: 1.1rem;
        line-height: 25px;
        }
    }
}

