header {
   @media (min-width: 992px) {
   height: 250px;
   }
}
.nav-link{
   color: rgb(233, 62, 0);
   font-size: 1.5rem;
   font-family: 'Roboto Slab', serif;
}
.navbar-brand {
   font-size: 2rem;
   font-family: 'Times New Roman', Times, serif;
}

.bordeAnimado {
   width: 145px;
   height: 50px;
   cursor: pointer;
   -webkit-tap-highlight-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 0;
   transition: 3s;
}

 .bordeAnimado::before, .bordeAnimado::after {
   position: absolute;
   background: transparent;
   z-index: -1;
   content: '';
 }

.bordeAnimado::before {
height: 50px;
width: 0px;
}

.bordeAnimado::after {
   width: 145px;
   height: 50px;
 }

 .bordeAnimado:hover::before {
   width: 145px;
   box-shadow: inset 0 0 40px black;
   transition: 3s;
   border: 1px solid orangered;
 }

 .bordeAnimado:hover::after {
   height: 0px;
   box-shadow: inset 0 0 40px black;
   transition: 3s;
 }

 .bordeAnimado:hover {
   transition: 1s;
   box-shadow: inset 0 0 40px white;
   font-weight: bold;
 }

