@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@media (min-width: 992px) {
  header {
    height: 250px;
  }
}

.nav-link {
  color: rgb(233, 62, 0);
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.bordeAnimado {
  width: 145px;
  height: 50px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 3s;
}

.bordeAnimado::before, .bordeAnimado::after {
  position: absolute;
  background: transparent;
  z-index: -1;
  content: "";
}

.bordeAnimado::before {
  height: 50px;
  width: 0px;
}

.bordeAnimado::after {
  width: 145px;
  height: 50px;
}

.bordeAnimado:hover::before {
  width: 145px;
  box-shadow: inset 0 0 40px black;
  transition: 3s;
  border: 1px solid orangered;
}

.bordeAnimado:hover::after {
  height: 0px;
  box-shadow: inset 0 0 40px black;
  transition: 3s;
}

.bordeAnimado:hover {
  transition: 1s;
  box-shadow: inset 0 0 40px white;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.carouselImg__Top {
  height: 200px;
  border-radius: 10px;
  border: 1px solid orangered;
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.541);
  color: rgba(255, 255, 255, 0.438);
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
  text-align: center;
  padding: 15px;
  animation-name: enterRightLeft;
  animation-duration: 3s;
}
@keyframes enterRightLeft {
  from {
    right: -500px;
  }
  to {
    right: 50px;
  }
}
@media (max-width: 767px) {
  .carouselImg__Top {
    font-size: 2rem;
    height: 150px;
    top: 40px;
    right: 50px;
    padding: 30px;
  }
}
@media (max-width: 576px) {
  .carouselImg__Top {
    font-size: 1.5rem;
    height: 80px;
    top: 243px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px 0px 15px 0px;
  }
  @keyframes enterRightLeft {
    from {
      right: -500px;
      bottom: 0px;
    }
    to {
      right: 0px;
      bottom: 0px;
    }
  }
}
@media (max-width: 500px) {
  .carouselImg__Top {
    top: 200px;
  }
  @keyframes enterRightLeft {
    from {
      right: -500px;
    }
    to {
      right: 0px;
    }
  }
}
@media (max-width: 450px) {
  .carouselImg__Top {
    top: 185px;
  }
  @keyframes enterRightLeft {
    from {
      right: -500px;
    }
    to {
      right: 0px;
    }
  }
}
@media (max-width: 400px) {
  .carouselImg__Top {
    top: 150px;
  }
  @keyframes enterRightLeft {
    from {
      right: -500px;
    }
    to {
      right: 0px;
    }
  }
}
@media (max-width: 300px) {
  .carouselImg__Top {
    top: 84px;
  }
  @keyframes enterRightLeft {
    from {
      right: -500px;
    }
    to {
      right: 0px;
    }
  }
}

.carouselImg__Bottom {
  z-index: -1;
  height: fit-content;
  width: fit-content;
  position: absolute;
  bottom: -50px;
  text-align: center;
  padding: 20px;
}
.carouselImg__Bottom a {
  font-size: 4rem;
  color: transparent;
  text-decoration: none;
  -webkit-text-stroke: 1px black;
  background-color: transparent !important;
  box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0.205);
}
.carouselImg__Bottom a:hover {
  background-color: rgba(0, 0, 0, 0.541) !important;
}
@media (max-width: 900px) {
  .carouselImg__Bottom a {
    font-size: 3.5rem;
  }
}
@media (max-width: 762px) {
  .carouselImg__Bottom a {
    font-size: 3rem;
  }
}
.carouselImg__Bottom .nav {
  --bs-nav-link-hover-color: orangered !important;
  --bs-nav-link-disabled-color: transparent !important;
}
.carouselImg__Bottom .active {
  background-color: rgba(0, 0, 0, 0.541) !important;
  color: orangered !important;
}
@media (max-width: 576px) {
  .carouselImg__Bottom {
    top: 0px;
    width: 300px;
    padding: 0px;
  }
  .carouselImg__Bottom a {
    font-size: 2.5rem;
    color: orangered !important;
    -webkit-text-stroke: 0px;
  }
}
@media (max-width: 576px) and (max-width: 410px) {
  .carouselImg__Bottom a {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  .carouselImg__Bottom .nav {
    --bs-nav-link-hover-color: orangered !important;
    --bs-nav-link-disabled-color: transparent !important;
  }
}
@media (max-width: 576px) {
  .carouselImg__Bottom .active {
    background-color: rgba(0, 0, 0, 0.541) !important;
    color: orangered !important;
  }
}

.showTabs {
  transform: translateY(-50px) !important;
  transition: 5s;
  z-index: 1000;
}
@media (max-width: 576px) {
  .showTabs {
    transform: none !important;
  }
}

footer {
  height: fit-content;
}

.footer__DivSocialNav {
  max-width: 320px;
  height: 100px;
}
.footer__DivSocialNav div > a > img:hover {
  box-shadow: inset 5px 5px 30px rgb(255, 68, 0);
  border-radius: 20%;
}

.footer__SocialNav__Cover {
  border: 1px solid orangered;
  height: 84px;
  position: relative;
  bottom: 92px;
  transition: 3s;
  background-color: rgba(0, 0, 0, 0.541);
  width: 324px;
}
@media (max-width: 576px) {
  .footer__SocialNav__Cover {
    display: none !important;
  }
}

.footer__SocialNav__CoverMove {
  transform: translateY(80px);
  transition: 5s;
}

.footer__DivMapAndData {
  height: fit-content;
}

.map {
  width: 145px;
  height: 150px;
  background-color: lightgray;
  margin: 5px;
}

.data {
  width: 155px;
  height: 150px;
  margin: 5px;
  padding: 5px;
}
.data ul {
  color: orangered;
  font-family: "Roboto Slab", serif;
}
.data ul li {
  font-size: 1.1rem;
  line-height: 25px;
}

.Div__Input {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 5.4px 33px;
  font-weight: 100;
}
.Div__Input :focus {
  background-color: darkgrey !important;
}
.Div__Input input {
  color: orangered;
}
.Div__Input textarea {
  color: orangered;
}
.Div__Input button:hover {
  color: orangered !important;
}

.parrafoContacto {
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
}

.whappN {
  border-radius: 50% 50% 50% 0%;
}
.whappN:hover {
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.308), -5px -5px 2px rgba(0, 0, 0, 0.384);
  transition: 1s;
}
.whappN:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308), -2px -2px 2px rgba(0, 0, 0, 0.384);
  transition: 0.1s;
}

.mainBackgroundColor {
  box-shadow: inset 5px 5px 200px 10px rgba(255, 68, 0, 0.767), inset -5px -5px 200px 10px rgba(0, 0, 0, 0.664);
}

.min-vh-100 {
  min-height: 105vh !important;
}
@media (max-width: 1330px) {
  .min-vh-100 {
    min-height: 122vh !important;
  }
}

.divMivi, .divValores, .divVision, .divMision {
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  box-shadow: 3px 3px 5px black;
}
.divMivi h3, .divValores h3, .divVision h3, .divMision h3 {
  font-family: "Roboto Slab", serif;
  font-size: 2.2rem;
  text-decoration: underline;
}
.divMivi p, .divValores p, .divVision p, .divMision p {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}

.divMision {
  background-image: url(../img/7566.jpg);
  background-position: 60% 25%;
}

.divVision {
  background-image: url(../img/8619.jpg);
  background-position: 60% 25%;
}

.divValores {
  background-image: url(../img/4565.jpg);
  background-position: 60% 25%;
}

.quienesSomos__carouselImg__Bottom {
  z-index: -1;
  height: fit-content;
  width: fit-content;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  bottom: -330px;
}
@media (max-width: 1330px) {
  .quienesSomos__carouselImg__Bottom {
    bottom: -418px;
  }
}
@media (max-width: 991px) {
  .quienesSomos__carouselImg__Bottom {
    position: unset;
  }
}
.quienesSomos__carouselImg__Bottom a {
  font-size: 4rem;
  color: transparent;
  text-decoration: none;
  -webkit-text-stroke: 1px black;
  background-color: transparent !important;
  box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0.205);
}
.quienesSomos__carouselImg__Bottom a:hover {
  background-color: rgba(0, 0, 0, 0.541) !important;
}
@media (max-width: 900px) {
  .quienesSomos__carouselImg__Bottom a {
    font-size: 3.5rem;
  }
}
@media (max-width: 762px) {
  .quienesSomos__carouselImg__Bottom a {
    font-size: 3rem;
  }
}
.quienesSomos__carouselImg__Bottom .nav {
  --bs-nav-link-hover-color: orangered !important;
  --bs-nav-link-disabled-color: transparent !important;
}
.quienesSomos__carouselImg__Bottom .active {
  background-color: rgba(0, 0, 0, 0.541) !important;
  color: orangered !important;
}
@media (max-width: 576px) {
  .quienesSomos__carouselImg__Bottom {
    top: 0px;
    width: 300px;
    padding: 0px;
  }
  .quienesSomos__carouselImg__Bottom a {
    font-size: 2.5rem;
    color: orangered !important;
    -webkit-text-stroke: 0px;
  }
}
@media (max-width: 576px) and (max-width: 410px) {
  .quienesSomos__carouselImg__Bottom a {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  .quienesSomos__carouselImg__Bottom .nav {
    --bs-nav-link-hover-color: orangered !important;
    --bs-nav-link-disabled-color: transparent !important;
  }
}
@media (max-width: 576px) {
  .quienesSomos__carouselImg__Bottom .active {
    background-color: rgba(0, 0, 0, 0.541) !important;
    color: orangered !important;
  }
}

.quienesSomos__ShowTabs {
  transform: translateY(-50px) !important;
  transition: 5s;
  z-index: 1000;
}
@media (max-width: 991px) {
  .quienesSomos__ShowTabs {
    transform: none !important;
  }
}

.main__background {
  background-image: url(../img/35744.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
@media (max-width: 575px) {
  .main__background {
    justify-content: center !important;
  }
}

.div__paragraph {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 68, 0, 0.814);
}

.queHacemos__carouselImg__Bottom {
  z-index: -1;
  height: fit-content;
  width: fit-content;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  bottom: -330px;
}
@media (max-width: 1330px) {
  .queHacemos__carouselImg__Bottom {
    bottom: -417px;
  }
}
@media (max-width: 991px) {
  .queHacemos__carouselImg__Bottom {
    position: unset;
  }
}
.queHacemos__carouselImg__Bottom a {
  font-size: 4rem;
  color: transparent;
  text-decoration: none;
  -webkit-text-stroke: 1px black;
  background-color: transparent !important;
  box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0.205);
}
.queHacemos__carouselImg__Bottom a:hover {
  background-color: rgba(0, 0, 0, 0.541) !important;
}
@media (max-width: 900px) {
  .queHacemos__carouselImg__Bottom a {
    font-size: 3.5rem;
  }
}
@media (max-width: 762px) {
  .queHacemos__carouselImg__Bottom a {
    font-size: 3rem;
  }
}
.queHacemos__carouselImg__Bottom .nav {
  --bs-nav-link-hover-color: orangered !important;
  --bs-nav-link-disabled-color: transparent !important;
}
.queHacemos__carouselImg__Bottom .active {
  background-color: rgba(0, 0, 0, 0.541) !important;
  color: orangered !important;
}
@media (max-width: 576px) {
  .queHacemos__carouselImg__Bottom {
    bottom: 0px;
    width: 300px;
    padding: 0px;
  }
  .queHacemos__carouselImg__Bottom a {
    font-size: 2.5rem;
    color: orangered !important;
    -webkit-text-stroke: 0px;
  }
}
@media (max-width: 576px) and (max-width: 410px) {
  .queHacemos__carouselImg__Bottom a {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  .queHacemos__carouselImg__Bottom .nav {
    --bs-nav-link-hover-color: orangered !important;
    --bs-nav-link-disabled-color: transparent !important;
  }
}
@media (max-width: 576px) {
  .queHacemos__carouselImg__Bottom .active {
    background-color: rgba(0, 0, 0, 0.541) !important;
    color: orangered !important;
  }
}

.quienesSomos__ShowTabs {
  transform: translateY(-50px) !important;
  transition: 5s;
  z-index: 1000;
}
@media (max-width: 991px) {
  .quienesSomos__ShowTabs {
    transform: none !important;
  }
}

.comoLoHacemos__backgroundPicture {
  background-image: url(../img/ComoLoHacemos.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
@media (max-width: 575px) {
  .comoLoHacemos__backgroundPicture {
    justify-content: center !important;
  }
}

.div__paragraph_circle {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 68, 0, 0.814);
  padding: 80px;
}/*# sourceMappingURL=styles.css.map */